<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muni.cz.pv162.pv239_demo_2">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
